
.acessoContainer{
    margin-top: 8rem;
    color: #53C4CD;
    text-align: center;
    
}

.input-field input[type=text]{
    margin-top: 50px;
    font-size: 20px;
}

.input-field input[type=text] + label {
    color: #53C4CD;
    font-size: 30px;
    
}

.validate{
    color: #fff;
    
}

.centralizar{
    margin: 0 auto;
    width: 50%;
    margin-top: 6rem;
}

.btnAzul{
    margin-top: 4rem ;
    width: 100%;
    padding:  0;
    border-radius: 30px;
    background-color: #53C4CD;
    color:#414042;
    font-size: 20px;


}