.containerRedefinir{    
    color: #53C4CD;
    text-align: center;
    font-family: 'IonicCoolvetica';
    font-size: 40px;  
    margin-top: 4rem;       
}

.botaoRedefinir{
    text-align: center;
}