.navbarBackground{
    background-color: #54C5CE;
}

.geral{
    background-color: #fff;
}

.socialbar{
    margin-left: 1.5rem;
    display: block;
    height: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #fff;
}

.youtube { 
        
    width: 18px;
    height: 18px;
    text-decoration: none;
    
}

.botaoLog{
    color: black !important;
    background-color: #54C5CE;
    height: 64px;
    border: none;
    margin-right: 1rem;
}

.modalerro{
    background-color: #cd6153;
    margin-top: 4rem;
}

.logout{
    color: #000;
    
}