@font-face {
    font-family:'IonicCoolvetica' ;
    src: url('../../../static/coolvetica\ rg.otf');
}

.dadosContainer{
    margin-top: 8rem;
    color: #53C4CD;
    text-align: center;
    font-family: 'IonicCoolvetica';
    
}

.dados_pessoais .row .input-field:first-child{
    padding-right: 4rem;
} 


.input-field input[type=text]{
    margin-top: 50px;
    font-size: 20px;
}

.input-field input[type=text] + label {
    color: #53C4CD;
    font-size: 30px;
    
}

.validate{
    color: #fff;
    
}

.esquerda{
    margin: 2rem;
    width: 50%;
    margin-top: 6rem;
    padding: 0 2rem !important;
}

.btnAzul{
    margin-top: 4rem ;
    width: 20%;
    padding:  0;
    border-radius: 30px;
    background-color: #53C4CD;
    color:#ffffff !important;
    font-size: 20px;


}

.modal1{
    background-color: #53C4CD;
    margin-top: 4rem;
}