@font-face {
    font-family:'IonicCoolvetica' ;
    src: url('../../../static/coolvetica\ rg.otf');
}

.cadastroBarra{
    width: 75%;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 10px !important;
    -webkit-box-shadow: none; 
    box-shadow: none;
    color: rgb(0, 0, 0);  
    
}

.collapsible-body{
    padding: 0 10px;
    border-bottom: none !important;
    margin: 0 auto;
    width: 70% !important;
    margin-top: 1.5rem !important;

}

.collapsible-header{
    border-bottom: none !important;

}

.dadosContainer{
    
    color: #53C4CD;
    text-align: center;
    font-family: 'IonicCoolvetica';
    font-size: 40px;
         
}

.dados_pessoais .row .input-field:first-child{
    padding-right: 4rem;
} 


.input-field input[type=text]{
    margin-top: 50px;
    font-size: 15px !important;
}

.input-field input[type=text] + label, .input-select {
    color: #53C4CD;
    font-size: 25px !important;
    
}

.input-select label{
    -webkit-transform: scale(0.8);
    transform:  scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: -14px;
    
}
.input-select input{
    font-weight: 300;
}

.validate{
    color: #fff;
    
}

.esquerda{
    margin: 2rem;
    width: 50%;
    margin-top: 6rem;
    padding: 0 2rem !important;
}

.btnAzulcadastro{
    
    width: 20%;
    padding:  0;
    border-radius: 30px;
    background-color: #53C4CD;
    color:#ffffff !important;
    font-size: 20px;
    margin: 0 auto !important;
    
}
.centro{
    text-align: center;
    margin-top: 4rem ;
    height: 100px;
}

.modal1{
    background-color: #53C4CD;
    margin-top: 4rem;
}

.infodep{
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top: 1rem !important;
    width: 70% !important;
    margin: 0 auto; 
}
.mais{
    margin-top: 2.8rem;
    margin-left: 1rem;
}

.nome-titulo{
    margin-left: 0.8rem;
    font-family: 'IonicCoolvetica';
    font-size: 40px;
    color: #53C4CD;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}

.nomeIdioma{
    margin-left: 0.8rem;
    font-family: 'IonicCoolvetica';
    font-size: 40px;
    color: #53C4CD;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    
}