.geralContainerdes{
    padding: 1rem;
    width: 100%;
    margin-top: 6rem;
    color: #53C4CD;
    text-align: center;
    color: white;   
}

.titulodes{
    color: #53C4CD;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
    margin: 0 auto;
    border-bottom: #cd6153;
}

.linhaTab{
    border-bottom: 1px solid #53C4CD;
}

.camposdes{   
    color: #cd6153;
}

.tablefuncdes{
    margin-top: 5rem !important;
    width: 75%;
    margin: 0 auto; 
}

.logout{
    color: #000;
    
}


.barPesquisa{
    margin-top: 4rem;
    background-color: #53C4CD;
    margin-bottom: 2rem; 
    border-radius: 30px;    
}

.Pesquisa{
    width: 35%;
    margin: 0 auto;
    background-color: transparent !important;
}

.Pesquisa .nav-wrapper i,.Pesquisa{
    height: 64px;
    line-height: 64px;
    color: #292A2D;
}