/**{
    border: solid 1px chocolate;
}*/

.loginContainer{
    margin-top: 6rem;
    color: #53C4CD;
    text-align: center;
    
    
}

.titulo{
    color: #53C4CD !important;
}

.blocoCima{
    margin-top: 6rem; 
}

.blocoBaixo{
    margin-top: 4rem;
}

.divColab{
    text-align: center;
}

.imgColab{
    width: 200px;
    height: 200px;
    background: #58595B;
    border: 0px solid #58595B;
    box-sizing:content-box;
    border-radius: 20px;
}

.botaoFunc{
    background-color:#58595B;;
    border-radius: 20px;
    border: #58595B;
   
    outline: none;
    
    
}

.btnNomeHome{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: #f2f2f2;
}

.botaoFunc:hover {

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

  

    background-color: #58595B;
    box-shadow: 0 5px #54c5ce;
    transform: translateY(-8px);
  
}

.linha{
    width: 82%;
    border-color: #54c5ce;
}

hr{
    color: #54c5ce !important;
    background-color: #54c5ce; 
}

/* a:link {
    color: #9e9e9e;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #9e9e9e;
    background-color: transparent;
    text-decoration: none;
} */

.checkboxTermos:link{
    color:#9e9e9e
}
.checkboxTermos:visited{
    color: #9e9e9e;
}

.checkboxTermos:hover{
    color: #9e9e9e;
    background-color: transparent;
    text-decoration: underline;
}
