.tituloEmpresa{
    color: #53C4CD;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
}

.geralContainerEmpresa{
    padding: 1rem;
    width: 100%;
    margin-top: 6rem;
    color: #53C4CD;  
    text-align: center;  
}