/* player de video */
@media (min-width:780px) {
    #videoBanner {
        display: flex;
        width: 75%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    #videoBanner source {
        min-width: 100%;
    }
}

/* css da pagina */
.containerAssistir {
    padding-bottom: 5rem;
}

.titulo-assistir {
    margin-top: 6rem !important;
    color: #53C4CD;
    text-align: center;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
    margin: 0 auto;
}

.titulo-menuassistir {
    margin-top: 6rem;
    color: #53C4CD;
    text-align: center;
    font-size: 30px;
    font-family: 'IonicCoolvetica';
}


.arquivosAssistir {
    margin-top: 5rem;
    margin: 0 auto;
    width:60%
}

.tabUp1 {
    margin-top: 2rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-color: black;
    color: #fff;
}

.linhaDivisaomenu {
    width: 75%;
    margin-top: 3rem !important;
    margin: 0 auto;
}