.tituloArquivos{
    font-family: 'IonicCoolvetica';
    color: #53C4CD;
    margin-top: 3rem;
}

.curso{
    color: #53C4CD;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
    text-align: center;
}

.tabUp1{
    margin-top: 2rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-color: black;
    color: #fff;
}

.tabUp2{
    margin-top: 2rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-color: black;
    color: #fff;
    padding-top: 3rem !important;
}

.listaCurso{
    margin-top: 5rem;
}

.arquivos{
    margin-top: 3rem;
}

.espacoCampo{
    width: 60% !important;
    
}

.containerCriaCurso{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;

    padding-bottom: 5rem;
}
.btnAzulUpload1{
    
    margin-top: 4rem ;
    width: 20%;
    padding:  0;
    border-radius: 30px;
    background-color: #53C4CD;
    color:#ffffff;
    font-size: 20px;
}

.botaoFinal{
    text-align: center;
}

.camposaula{
    margin-top: 3rem;
    
}

.textodesc{
    margin-top: 3rem !important;
}

.labelaula{
    font-size: 30px !important;
    
}