.tituloArquivos{
    font-family: 'IonicCoolvetica';
    color: #53C4CD;
    margin-top: 2rem;
}

.curso{
    color: #53C4CD;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
    text-align: center;
}

.tabUp1{
    margin-top: 2rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-color: black;
    color: #fff;
}

.tabUp2{
    margin-top: 2rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-color: black;
    color: #fff;
    padding-top: 3rem !important;
}

.listaCurso{
    margin-top: 5rem;
}

.arquivos{
    margin-top: 3rem;
}

.espacoCampo{
    width: 60% !important;
    
}

.containerCriaCurso{
    padding: 1rem;
    margin-left: 6rem;
    margin-right: 6rem; 
    padding-bottom: 5rem;
}