@font-face {
    font-family:'IonicCoolvetica' ;
    src: url('../../../static/coolvetica\ rg.otf');
}
.geralContainer{
    padding: 1rem;
    width: 100%;
    margin-top: 6rem;
    color: #53C4CD;
    text-align: center;
    color: white;
    
    
    
}

.titulo{
    color: #53C4CD;
    font-size: 60px;
    font-family: 'IonicCoolvetica';
    margin: 0 auto;
}

.barPesquisa{
    margin-top: 4rem !important;
    background-color: #ffffff !important;
    margin-bottom: 2rem; 
    border-radius: 30px;  
    margin: 0 auto;
    color: black !important;
    
   
}

.campos{   
    color: #53C4CD;
}

.tablefunc{
    margin-top: 5rem !important;
    width: 75%;
    margin: 0 auto; 
}

tr{
    border-bottom: 1px solid #53C4CD;
}

.Pesquisa{
    width: 35%;
    margin: 0 auto;
    background-color: transparent !important;

}

.Pesquisa .nav-wrapper i,.Pesquisa{
    height: 64px;
    line-height: 64px;
    color: white;
}

.nav-wrapper .input-field input[type=search] {
    border-radius: 30px;
}

.material-icons{
    color: #53C4CD;
}

.pesquisa{
    color: rgb(2, 2, 2) !important;
}