
@font-face {
    font-family:'IonicCoolvetica' ;
    src: url('../../../static/coolvetica\ rg.otf');
}


.acessoContainer{
    margin-top: 6rem;
    color: #53C4CD;
    text-align: center;
    font-family:'IonicCoolvetica'
    
}

.input-field input[type=text]{
    margin-top: 50px;
    font-size: 20px;
}

.input-field input[type=text] + label {
    color: #53C4CD;
    font-size: 30px;
    
}



.validate{
    color: #fff;
    
}

.centralizar{
    margin: 0 auto;
    width: 50%;
    margin-top: 6rem;
}

.btnAzul{
    margin-top: 4rem ;
    width: 20%;
    padding:  0;
    border-radius: 30px;
    background-color: #53C4CD;
    color:#ffffff;
    font-size: 20px;
}

.modal1{
    background-color: #53C4CD;
    margin-top: 4rem;
}

.modalerro{
    background-color: #cd6153;
    margin-top: 4rem;
}

.select-wrapper input.select-dropdown {
    color:#fff;
}

.input-field>label {
    font-size: 24px;
    color: #53C4CD;
}

.select-wrapper .caret {
    fill:#fff;
}

.campoGestor{
    display: flex;
    align-items: flex-end;
}
.campoGestor a {
    margin-bottom: 2rem;
    background-color:#53C4CD;
    border-radius: 30px;
    min-width: 8rem;
}
.modal-content, .modal-footer{
    background-color: #414042 !important;
}